<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

  

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/img/me.jpeg" alt="Francesca" height="250" width="250">
          <div class="col-lg-8 col-lg-offset-2 justified">
					<h5>Hello!</h5>
					<p>I am currently a final year <a href="https://kclpure.kcl.ac.uk/portal/en/persons/francesca-mosca(2f02f71e-3d39-475f-84c2-1f97997c986e).html"> PhD Candidate in Artificial Intelligence </a> within the Department of Informatics at King's College London (KCL). At KCL I am part of the <a href="https://www.kcl.ac.uk/research/cys"> Cybersecurity </a> and the <a href="https://www.kcl.ac.uk/nms/depts/informatics/research/dai/dai.aspx">Distributed AI </a> Research Groups in the Department of Informatics. I hold a Master in Intelligent Systems (2016, King's College London), a Master in Mathematical Engineering (2015, Politecnico di Torino, Italy) and a Bachelor in Applied Maths (2013, Politecnico di Torino, Italy).
					</p>
					<p>My research interests lie at the intersection of Agent-based Modelling, Explainable AI, Human-Computer Interaction, Computational Social Choice, and Privacy.

					</p>				

				</div>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	

{% endblock %}
</html>